<footer class="navbar-dark bg-dark footer-common">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="justify-content-left d-flex">HallBooking</div>
            </div>
            <div class="col-8">
                <div class="justify-content-center d-flex social-links">
                    Copyright Reserved {{currentDate | date:'yyyy'}} Design & Develop by RS
                </div>
                
            </div>
            <div class="col-2">
                <div>
                    <ul class="justify-content-end d-flex social-links">
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </a></li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </a></li>
                        <li><a href="#" target="_blank" rel="noopener noreferrer">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>